<h1>Log In</h1>
<hr>
<%= form_tag sessions_path, :class => "form-horizontal" do %>

	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: "alert alert-#{name}" %>
	<% end %>

  <div class="control-group">
    <%= label_tag :email, nil, :class => "control-label" %>
		<div class="controls">
    	<%= text_field_tag :email, params[:email] %>
		</div>
  </div>

  <div class="control-group">
    <%= label_tag :password, nil, :class => "control-label" %>
		<div class="controls">
    	<%= password_field_tag :password %>
		</div>
  </div>

  <div class="form-actions">
		<%= submit_tag "Log In", :class => "btn btn-info" %>
	</div>
<% end %>