<%= form_for(@patrol) do |f| %>
  <% if @patrol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patrol.errors.count, "error") %> prohibited this patrol from being saved:</h2>

      <ul>
      <% @patrol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date, { :order => [:day,:month,:year]}, { :class => "span2" } %>
  </div>

	<div class="field">
		<%= f.label :pastor_ids %>
		<%= f.collection_select(:pastor_ids, Pastor.all, :id, :email,{},{:class => "multiple_select",:multiple=>true,:size=>12}) %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
